<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.medical.mapper.MedicalSelectDepartmentMapper">
	<resultMap id="BaseResultMap" type="com.medical.model.MedicalSelectDepartment">
		<id column="id" property="id" jdbcType="INTEGER" />
		<association property="department" column="hosp_dep_id"
			select="selectHospitalDepartmentById" javaType="com.medical.model.HospitalDepartment" />
		<association property="doctor" column="doctor" select="selectDoctor"
			javaType="com.medical.model.Doctor" />
		<!-- <association property="consultation" column="consultation_id" javaType="com.medical.model.MedicalConsultation" 
			/> -->
	</resultMap>
	<resultMap id="DoctorResultMap" type="com.medical.model.Doctor">
		<association property="user" select="selectUser" column="id"
			javaType="com.medical.model.User"></association>
		<association property="hospitalDepartment" select="selectHospitalDepartmentById"
			column="department_id" javaType="com.medical.model.HospitalDepartment"></association>
	</resultMap>
	<resultMap type="com.medical.model.HospitalDepartment" id="hospitaldepartmentResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<association property="hospital" select="selectHospital"
			column="hospital_id" javaType="com.medical.model.Hospital"></association>
		<association property="department" select="selectDepartment"
			column="department_id" javaType="com.medical.model.Department"></association>
	</resultMap>
	<resultMap type="com.medical.model.User" id="UserResultMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="user_password" property="user_password"
			jdbcType="VARCHAR"></result>
		<result column="user_name" property="user_name" jdbcType="VARCHAR"></result>
		<result column="gender" property="gender"
			typeHandler="com.medical.tool.myenum.GenericEnumCodeHandler"
			jdbcType="INTEGER"></result>
		<result column="tel" property="tel" jdbcType="VARCHAR"></result>
		<result column="email" property="email" jdbcType="VARCHAR"></result>
		<result column="role_id" property="role_id" jdbcType="INTEGER"></result>
		<result column="birthdate" property="birthdate" jdbcType="DATE"></result>
		<result column="login_time" property="login_time" jdbcType="INTEGER"></result>
		<result column="idCard" property="idCard" jdbcType="VARCHAR"></result>
	</resultMap>

	<sql id="Base_Column_List">
		id, hosp_dep_id, consultation_id, doctor
	</sql>
	<sql id="Hospital_Department_Column_List">
		id, hospital_id, department_id
	</sql>
	<sql id="User_Column_List">
		id,user_password,user_name,gender,tel,email,role_id,birthdate,login_time
	</sql>

	<sql id="Doctor_Column_List">
		id, department_id
	</sql>
	<select id="selectDoctor" parameterType="java.lang.Integer"
		resultMap="DoctorResultMap">
		select
		<include refid="Doctor_Column_List" />
		from bas_doctors
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectHospitalDepartmentById" parameterType="java.lang.Integer"
		resultMap="hospitaldepartmentResultMap">
		select
		<include refid="Hospital_Department_Column_List" />
		from BAS_DEPARTMENT_HOSPITAL
		where id = #{id}
	</select>
	<select id="selectUser" parameterType="java.lang.Integer"
		resultMap="UserResultMap">
		select
		<include refid="User_Column_List" />
		from BAS_USER where id = #{id}
	</select>
	 <select id="selectHospital" parameterType="java.lang.Integer" resultType="com.medical.model.Hospital">
     select 
     *
     from BAS_HOSPITAL
     where id = #{id}
  </select>
  <select id="selectDepartment" parameterType="java.lang.Integer" resultType="com.medical.model.Department">
     select 
     *
     from BAS_DEPARTMENT
     where id = #{id}
  </select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from med_select_department
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByDoctorId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select consultation_id
		from med_select_department
		where doctor= #{id,jdbcType=INTEGER}
	</select>
	<select id="selectByConsultationId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from med_select_department
		where consultation_id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from med_select_department
		where id = #{id,jdbcType=INTEGER}
	</delete>

</mapper>